/* Reset some default styles for consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background image to the body */
body {
    background-image: url('wVMsPCF.jpg'); /* Adjust the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333; /* Default text color */
}

/* Style the container for movie showcase */
.container {
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Style individual movie items */
.movie-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie {
    text-decoration: none;
    color: #333;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.112);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 45%; /* Adjust the width as needed */
}

.movie:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.movie img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-info {
    margin-top: 10px;
}

.movie-title {
    font-size: 1.2em;
    font-weight: bold;
}

.movie-year {
    font-size: 1em;
    color: #777;
}
